<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Files</title>
</head>
<body>
    <h4>Files Uploaded Successfully!</h4>
    <h3>List of All Available Files</h3>
    <ul>
        {% for file in uploaded_files %}
        <li>
            {{ file.file.name }} - Uploaded at: {{ file.uploaded_at }}
            <form action="{% url 'delete_file' file.id %}" method="post">
                {% csrf_token %}
                <button type="submit">Delete File</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>